.flex.border.border-black.justify-center class='h-#{@size} w-#{@size}' data-reflex='click->Game#check' id=@id data-game=@game data-size=@size data-marked=@mark
  .self-center.text-xl class='text-#{@color}-600'
    = @mark